<div class="container">
  <%= render 'shared/sidebar' %>
  <div class="chat-index-container">
    <div class="row">
    <% @chats.each do |chat| %>
      <div class="col-md-4 mb-4">
        <div class="chat-index-card">
          <div class="card-body">
            <h5 class="card-title"><%= chat.chat_name %></h5>
            <div class="open-doc-button">
              <%= link_to "Details", chat_path(chat), class: "btn btn-warning btn-open-doc" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
