.chat-index-container {
  width: 100vw;
  padding:20px;
}

.text-center {
  text-align: center;
}

.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.chat-index-card {
  position: relative;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%;
  height: 160px;
  background-color: #f0bbff;
  background-image: linear-gradient(238deg, #f0bbff 0%, #f280e9 23%, #7485ff 100%);
  box-shadow: -10px 12px 10px #d0cfcfa1;
  border: none;
  /* Add hover effect */
  transition: transform 0.3s ease-in-out;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.open-doc-button {
  position:absolute;
  bottom: 5px;
  left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.btn-open-doc {
  background-color: #DD80EC;
  color: #e2dede;
  padding: 4px 10px;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 4px 3px #323f411c;
}

.btn-open-doc:hover {
  background-color: #444380;
  color: #e2dede;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.cards-section{
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
